<mat-card>
  <div class="header">
    <h1 appTitle> Welcome, <b>Chef {{displayName}}!</b> </h1>
    <h2> Congratulations, your current rating is <b>{{rating | rating}}</b>! </h2>

    <mat-divider></mat-divider>

  </div>

  <div class="dashboard-row">
    <h2> Fancy adding a new recipe? </h2>
    <button mat-raised-button color="primary" routerLink="/meals">Go to Your Menu!</button>
  </div>
  <mat-divider></mat-divider>
  <div class="dashboard-row">
    <h2> Don't forget about your upcoming clients! You have {{this.numberOfUpcomingOrders}} incoming orders! </h2>
    <button mat-raised-button color="primary" routerLink="/orders">Go to Your Orders!</button>
  </div>
  <mat-divider></mat-divider>
  <div class="dashboard-row">
    <h2> This is what your latest clients are saying about you! </h2>
  </div>
  <app-chef-reviews [limit]=2 [chefId]="(this.userService.currentUserId | async) ?? ''"></app-chef-reviews>


</mat-card>
