h1 {
  padding: 50px;
  padding-bottom: 10px;
}

.review-modal-container {
  display: flex;
  flex-direction: column;
}

.star-rating {
  display: flex;
  margin-left: 30px;
  color: white;
}

.star-rating mat-icon {
  cursor: pointer;
  color: gold;
}

.star-rating mat-icon:first-child {
  margin-left: 5px;
}

