mat-form-field.read-only .mat-form-field-label {
  pointer-events: none;
}
mat-form-field.read-only .mat-form-field-underline {
  display: none;
}


mat.form-field.read-only .mat-input {
  pointer-events: none;
}

form.read-only .mdc-text-field__input {
  pointer-events: none;
}


h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.toggle-header {
  display: flex;
}

.mat-mdc-slide-toggle {
  align-self: center;
  margin-left: 10px;
}
