<mat-card class="profile-card">
  <section id="profile">
    <div class="toggle-section">
      <div class="toggle-header">
        <h2 appSubtitle *ngIf="isSelf"> Edit your Personal Details! </h2>
        <h2 appSubtitle *ngIf="!isSelf"> Personal Details </h2>
        <mat-slide-toggle color="secondary" (change)="showProfile = !showProfile" [checked]="showProfile"></mat-slide-toggle>
      </div>
      <app-details *ngIf="showProfile" [profileId]="profileId" [profileRole]="profileRole" [isSelf]="isSelf"></app-details>
    </div>
  </section>
   <section id="reviews" *ngIf="profileRole === 'Chef'">
     <div class="toggle-section">
       <div class="toggle-header">
         <h2 appSubtitle> Reviews </h2>
         <mat-slide-toggle color="secondary" (change)="showReviews = !showReviews" [checked]="showReviews"></mat-slide-toggle>
       </div>
       <app-chef-reviews *ngIf="showReviews" [chefId]="this.profileId"></app-chef-reviews>
     </div>
   </section>
   <section id="availability" *ngIf="profileRole === 'Chef'">
     <div class="toggle-section">
       <div class="toggle-header">
         <h2 appSubtitle>{{isSelf ? "Edit your availability!" : "Availability"}}</h2>
         <mat-slide-toggle color="secondary" (change)="showAvailability = !showAvailability" [checked]="showAvailability"></mat-slide-toggle>
       </div>
       <div class="availability" *ngIf="profileRole === 'Chef' && showAvailability">
         <app-availability-calendar [availableDates]="this.availableDates" (toggleDateAvailability)="updateDates($event)"></app-availability-calendar>
       </div>
     </div>
   </section>
</mat-card>

