@use '@angular/material' as mat;

@include mat.core();

$custom-typo: mat.define-typography-config(
  $font-family: 'Roboto',
  $headline-1: mat.define-typography-level(96px, 96px, 300),
  $headline-2: mat.define-typography-level(60px, 60px, 300),
  $headline-3: mat.define-typography-level(48px, 48px, 400),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$amber-palette),
    accent: mat.define-palette(mat.$red-palette),
  ),
  typography: $custom-typo,
));

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$amber-palette),
    accent: mat.define-palette(mat.$red-palette),
  ),
  typography: $custom-typo,
));

$light-theme-background: #f5f5f5;
$primary-color: #3a2618;
$secondary-color: #bb6b00;

$light-primary-text-color: #dbaeae;

@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}
