<h1 mat-dialog-title appTitle>Meal Details</h1>
<div mat-dialog-content>
  <form [formGroup]="mealForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #imageInput>
      <button mat-raised-button (click)="imageInput.click()">Upload Image</button>
      <p *ngIf="uploadedImage">Image uploaded: {{ uploadedImage.name }}</p>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" formControlName="price">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryName">
        <mat-option *ngFor="let category of this.categories" [value]="category.name">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ingredients</mat-label>
      <mat-chip-grid #myChipGrid aria-label="enter meal ingredients">
        <mat-chip-row *ngFor="let ingredient of ingredients; let i = index" [removable]="true" (removed)="removeIngredient(i)">
          {{ingredient}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input [matChipInputFor]="myChipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addIngredient($event)" />
      </mat-chip-grid>
    </mat-form-field>
<!--    <mat-form-field>-->
<!--      <mat-label>Ingredients</mat-label>-->
<!--      <mat-chip-grid #myChipGrid formControlName="ingredients"-->
<!--                     aria-label="enter meal ingredients">-->
<!--        @for (ingredient of this.ingredients; track ingredient) {-->
<!--        <mat-chip-row (removed)="removeIngredient(ingredient)">-->
<!--        {{ingredient}}-->
<!--        <button matChipRemove>-->
<!--          <mat-icon>cancel</mat-icon>-->
<!--        </button>-->
<!--      </mat-chip-row>-->
<!--        }-->
<!--        <input [matChipInputFor]="myChipGrid"-->
<!--               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--               (matChipInputTokenEnd)="addIngredient($event)" />-->
<!--      </mat-chip-grid>-->
<!--    </mat-form-field>-->
</form>
<div mat-dialog-actions class="modal-actions">
  <button mat-button (click)="onSave()">Save</button>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>
</div>
