<mat-card>
  <div class="header">
    <h1 appTitle> Welcome, <b> {{displayName}} </b></h1>
    <mat-divider></mat-divider>
  </div>
  <div class="dashboard-row">
    <h2> Hungry? Go and search for some delicious meals! </h2>
    <button mat-raised-button color="primary" routerLink="/browse"> Go to Browse </button>
  </div>
  <mat-divider></mat-divider>
  <div class="dashboard-row">
    <h2> Want to check the status of your orders? </h2>
    <button mat-raised-button color="primary" routerLink="/orders"> Go to Orders </button>
  </div>
</mat-card>
