<mat-toolbar color="primary">
  <!-- Content before user info -->

  <span class="example-spacer"></span>

  <ng-container *ngIf="isAuthenticated | async; else loggedOutLinks">
    <button mat-button [routerLink]="['/authentication/profile']">
      Hello {{ userName | async }}
    </button>
    <button mat-button [routerLink]="['/authentication/logout']" title="Logout">
      Logout
    </button>
  </ng-container>

  <ng-template #loggedOutLinks>
    <button mat-button [routerLink]="['/authentication/register']">
      Register
    </button>
    <button mat-button [routerLink]="['/authentication/login']">
      Login
    </button>
  </ng-template>
</mat-toolbar>
