@import '../../../custom-theme.scss';

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; // This will make the hero section fill the screen height
  padding: 60px;
  color: $primary-color;
  background-color: $light-theme-background; // Use the background color from the theme
}

.hero-text {
  flex: 1;
  padding-right: 70px; // Adjust as needed
  text-align: justify;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
  background-image: url("../../../assets/family-meals/pexels-cottonbro-studio-3171151.jpg");
  background-size: cover;
}

.hero-image img {
  width: 100%;
}
