.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  height:100%;
}

.hero-text {
  flex: 1;
  padding-right: 70px;
  text-align: center;
  line-height: 250%;
  font-family: 'Roboto', sans-serif;
}

.hero-text h1 {
  text-align: center;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}
