<div class="hero-section">
  <div class="hero-text">
    <h1 appTitle>Fresh, Affordable Meals at Your Very Own Doorstep</h1>
    <p>
      In a bustling world where time is scarce, Neighbor Chef offers a practical solution: enjoy wholesome, budget-friendly meals prepared by local cooking enthusiasts.
    </p>
    <p>
      It's the perfect blend of convenience, health, and community flavor for those always on the go.
    </p>
  </div>
  <div class="hero-image">
    <img src="assets/family-meals/pexels-cottonbro-studio-3171151.jpg" alt="Hero Image">
  </div>
</div>
