<mat-card>
  <h2 appSubtitle>Chef Registration</h2>
  <form [formGroup]="chefForm" (ngSubmit)="registerChef()" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Advance Notice Days</mat-label>
      <input matInput type="number" id="advanceNoticeDays" formControlName="advanceNoticeDays" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Max Orders Per Day</mat-label>
      <input matInput type="number" id="maxOrdersPerDay" formControlName="maxOrdersPerDay" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!chefForm.valid">Register as Chef</button>
  </form>
</mat-card>
