<mat-card>
    <app-search-bar [categories]="this.categories"
                    [sorts]="SortOptions[this.searchType]"
                    (sortChanged)="onSortChanged($event)"
                    (filterChanged)="onFilterMealsByCategory($event)"
                    (searchTypeChanged)="onSearchTypeChanged($event)"
                    (clearFiltersClicked)="onClearFilters()"
                    (search)="onSearchPerformed($event)"></app-search-bar>
    <div class="browse-list" *ngIf="this.searchType === 'chefs'">
      <app-chef-card *ngFor="let chef of this.currentChefs" [chef]="chef"></app-chef-card>
    </div>
    <div class="browse-list" *ngIf="this.searchType === 'meals'">
      <app-meal-card *ngFor="let meal of this.currentMeals" [searchView]="true" [meal]="meal"></app-meal-card>
    </div>
</mat-card>
