<mat-toolbar class="navbar">
  <a class="navbar-brand" [routerLink]="['/']">Neighbor Chef</a>
  <span class="spacer"></span>
  <a *ngIf="!authService.isLoggedIn()" mat-button [routerLink]="['/']">Home</a>
  <a *ngIf="!authService.isLoggedIn()" mat-button [routerLink]="['/login']">Login</a>
  <a *ngIf="!authService.isLoggedIn()" mat-button [routerLink]="['/register']">Register</a>
  <a *ngIf="authService.isLoggedIn()" mat-button [routerLink]="['/dashboard']">Dashboard</a>
  <a *ngIf="authService.isLoggedIn()" mat-button [routerLink]="['/profile', currentUserId]">Profile</a>
  <a *ngIf="(currentRole | async) === 'Chef'" mat-button [routerLink]="['/meals']">View your menu</a>
  <a *ngIf="(currentRole | async) === 'Customer'" mat-button [routerLink]="['/browse']">Browse!</a>
  <a *ngIf="authService.isLoggedIn()" mat-button [routerLink]="['/orders']">Orders</a>
  <a *ngIf="authService.isLoggedIn()" mat-button (click)="authService.logout()">Log out</a>



</mat-toolbar>
