<mat-toolbar>
  <mat-toolbar-row>
    <div class="flex-container">
      <div class="search-line">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="What are you craving?" [(ngModel)]="this.searchQuery">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="performSearch()">Go!</button>
        <button mat-raised-button color="accent" (click)="clearFilters()">Clear</button>
      </div>

    <div class="search-param">
      <mat-radio-group aria-label="Select a search type" [(ngModel)]="this.searchType" (change)="searchTypeChanged.emit($event.value)">
        <mat-radio-button value="chefs">Chefs</mat-radio-button>
        <mat-radio-button value="meals">Meals</mat-radio-button>
      </mat-radio-group>

    <div class="select-container">
      <mat-select [placeholder]="'Category'" [(ngModel)]="this.currentFilter" [value]="'Filter by Category'" (selectionChange)="filterChanged.emit($event.value)" *ngIf="this.searchType === 'meals'">
        <mat-option *ngFor="let category of this.categories" [value]="category.name">{{category.name}}</mat-option>
        <mat-option value="all">All</mat-option>
      </mat-select>

      <mat-select [(ngModel)]="this.currentSort" placeholder="Sort By" (selectionChange)="sortChanged.emit($event.value)">
        <mat-option *ngFor="let sort of this.sorts" [value]="sort.value">{{sort.name}}</mat-option>
      </mat-select>
    </div>
    </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
